extends index

block content
  div.span7.offset2
    h1 LongPosts
    h4 (formerly ADN Blogs)
    p
      | The instant blogging system for app.net users!
    h2 How it works
    p
      a(href="/login") Login 
      | with your app.net account, then hit 
      a(href="/compose") Compose New 
      | to start a new post.

    p
      | Blog posts can be up to 8000 characters long, so feel free to express yourself!

    p
      | Blog posts support 
      a(href="http://daringfireball.net/projects/markdown/dingus") Markdown formatting
      |, so you can include links, pictures, and all that good stuff.
      | When you hit "Submit" your post will be saved to ADN as part of the post's annotations and also post
      | the title and a link back here so others can read your amazing new blog post.

    p
      | Try it out! You can send any feedback to @
      a(href="https://alpha.app.net/jazzychad") jazzychad
      | .

    p Super alpha right now... use at your own peril, but it works :)
    p Made as part of the ADN #hackathon.
    p
      | See some posts by following the 
      a(href="https://alpha.app.net/hashtags/adnblog") #adnblog 
      | tag.
